<div class='container'>
  <div class='row justify-content-right'>
    <div class="col-6">
      <h4 class='page-header'><%= action_message %></h4>
    </div>
  </div>
</div>


<div class='container'>
  <div class="row justify-content-right">
    <div class="col-12"> 
      <div class='row'>
        <div class='col-6'>
          <%= form_with(model: [:admins_backoffice, @wine ], local: true) do |form| %>
            <div class='mb-3'>
              <%= form.label :description, class:"form-label" %> 
              <%= form.text_field :description, autofocus: true, class:'form-control form-control-sm' %>
            </div>
            <div class='mb-3'>
              <%= form.label :type_id, class:"form-label" %>
              <%= form.select('type_id', Type.all.collect{ |t| [t.description, t.id]}, {include_blank: 'Selecione'},class:'form-control form-control-sm') %>
            </div>
            <div class='mb-3'>
              <%= form.label :grape_type_id, class:"form-label" %>
              <%= form.select('grape_type_id', GrapeType.all.collect{ |g| [g.description, g.id]}, {include_blank: 'Selecione'},class:'form-control form-control-sm') %>
            </div>
            <div class='mb-3'>
              <%= form.label :country_id, class:"form-label" %>
              <%= form.select('country_id', Country.all.collect{ |c| [c.description, c.id]}, {include_blank: 'Selecione'},class:'form-control form-control-sm') %>
            </div>
        </div>
        <div class='col-6'>
            <div class='mb-3'>
              <%= form.label :price, class:"form-label" %> 
              <%= form.text_field :price, class:'form-control form-control-sm' %>
            </div>
            
            <div class='mb-3'>
              <%= form.label :url_img, class:"form-label" %> 
              <%= form.text_field :url_img, class:'form-control form-control-sm', placeholder:'http://....' %>
            </div>
            <div class='mb-3'>
              <%= form.label :admin_id, class:"form-label" %>
              <br />
              <%= current_admin.email %>
            </div>

            <button type='submit' class='btn btn-primary btn-sm'>
              Submit
            </button>
            <%= link_to admins_backoffice_wines_path, class: 'btn btn-danger btn-sm' do %>
              Cancel
            <%end%>

          <% end %>
        </div> 
      </div>
      
    </div>
  </div>
</div>