<div class='container'>
  <div class='row justify-content-right'>
    <div class="col-6">
      <h4 class='page-header'>Types</h4>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row justify-content-right'>
    <div class="col-6">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Description</th>
            <th>
              <%= link_to new_admins_backoffice_type_path, class:'btn btn-outline-success btn-sm' do %>
                New
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @types.each do |type|%>
          <tr>
            <td><%= type.id %></td>
            <td><%= type.description %></td>
            <td>
              <%= link_to edit_admins_backoffice_type_path(type), class:'btn btn-outline-primary btn-sm' do %>
                  Edit
                <% end %>
                <%= link_to admins_backoffice_type_path(type), method: :delete, class:'btn btn-outline-danger btn-sm', data: {confirm: 'Are You Sure?'} do %>
                  Delete
                <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class='container'>
        <div class='row justify-content-center'>
          <div class="col-6 pagination-sm">
            <%= paginate @types %>
          </div>
        </div>
      </div>  

    </div>
  </div>
</div>