<div class='container'>
  <br />
  <div class="row justify-content-center ">
    <div class="col-4">
      <div>
        <h2 class='text-center'>Forgot your password?</h2>
      </div>
      <br />

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <h5 class='text-center'><%= f.label :email %></h5>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-sm", placeholder:"example@example.com" %>
        </div>

        <div class='row justify-content-center'>
          <div class="actions">
            <%= f.submit "Send me reset password instructions" %>
          </div>
        </div>
        <br />
        <br />

        <div class='row justify-content-center'>
          <p>
            <%= link_to 'Home', site_welcome_index_path %>
          </p>
        </div>

      <% end %>
    </div>
  </div>
</div>
