<!DOCTYPE html>
<html>
  <head>
    <title>WineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <div class='container'>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">Wine Shope</a>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              admin@admin.com
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Main", admins_backoffice_welcome_index_path, class:'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to "Admins", admins_backoffice_admins_index_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Wines", '#', class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Types", '#', class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Grape Types", '#', class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Countries", '#', class:'nav-link' %>
        </li>
      </ul>

      <%= yield %>
      

    </div>
    
  </body>
</html>