<!DOCTYPE html>
<html>
  <head>
    <title>WineShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    
  </head>

  <body>

    <div class='container'>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <h4>Wine Shop</h4>
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
              <%= current_admin.email%>
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </div>
        </div>
      </nav>

      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "Main", admins_backoffice_welcome_index_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Admins", admins_backoffice_admins_index_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Wines", admins_backoffice_wines_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Types", admins_backoffice_types_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Grape Types", admins_backoffice_grape_types_path, class:'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Countries", admins_backoffice_countries_path, class:'nav-link' %>
        </li>
      </ul>
      <br/>

      <%= yield %>
      
    </div>

    <%= javascript_include_tag 'application' %>

    <% if notice %>
			<%= javascript_tag do %>
				$.bootstrapGrowl('<%= notice %>', {
					type: 'success',
					align: 'rigth',
					alow_dismiss: 'true',
					stackup_space: 10
				});
			<%end%>
		<% end %>
    
  </body>
</html>